nav {
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--light-blue);
  }


  .header {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'RubikMonoOne';
    font-size: 2rem;
    
    a {
      color: var(--light-blue);
    }
  }

  .links {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin-right: 8px;
    gap: 1vw;

    .link {
      list-style: none;
      font-family: 'RubikMonoOne';
      font-size: 1rem;

       a {
        color: #fff;

        &:hover {
          color: red;
        }
       }
    }
  }


  a {
    text-decoration: none;
  }
}
