@use '@angular/material' as mat;

.links {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin-right: 8px;
  gap: 1vw;

  .link {
    list-style: none;
    font-family: 'RubikMonoOne';
    font-size: 1rem;

      a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: red;
      }
    }
  }
}

nav {
  background: var(--darkest-blue);
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--light-blue);
  }


  .header {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'RubikMonoOne';
    font-size: 2rem;
    
    a {
      color: var(--light-blue);
      text-decoration: none;
    }
  }

  .overlay-menu-button {
    align-self: center;

    @include mat.icon-overrides((color: #fff));

    &:hover {
      @include mat.icon_overrides((color: red));
    }
  }
}

.overlay-menu {
  display: none;
  background: var(--light-blue);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &.visible {
    display: flex;
    flex-direction: column;
    top: 72px;
    height: calc(100vh - 72px);
  }

  .links {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      font-size: 3.75rem;
      margin-bottom: 6.25vh;
    }
  }

  .close-overlay-button {
    margin: 0 auto 8vh auto;
    @include mat.icon-overrides((color: #fff));

    &:hover {
      @include mat.icon_overrides((color: red));
    }
  }
}