@if (image) {
  <div class="wrapper">
    <img [src]="image.path" [attr.alt]="image.name" (click)="openImageDialog()">
  </div>

  <ng-template #imageDialog>
    <div class="dialog-wrapper">
      <app-icon-button
        class="close"
        icon="close"
        label="Close"
        (wasClicked)="closeDialog()"
      >
      </app-icon-button>
      <div class="image-wrapper">
        <img [src]="image.path" [attr.alt]="image.name">
      </div>
      @if (!image.disableDialogFooter) {
        <div class="image-footer">
          <h1>{{image.name}}</h1>
          @if (image.caption || image.date) {
            <div class="footer-details">
              <p class="caption">{{image.caption}}</p>
              <p class="date">{{image.date}}</p>
            </div>
          }
        </div>
      }
    </div>
  </ng-template>
}
