/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PermanentMarker';
  src: url('/assets/fonts/PermanentMarker-Regular.ttf');
}

html, body { height: 100%; }
body { 
  margin: 0; 
  background: rgb(0, 18, 24);
}
