@use '@angular/cdk' as cdk;
@include cdk.overlay();
@include cdk.a11y-visually-hidden();

@import 'normalize.css';

@font-face {
  font-family: 'PermanentMarker';
  src: url('/assets/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'RubikMonoOne';
  src: url('/assets/fonts/RubikMonoOne-Regular.ttf');
}

:root {
  --light-blue: rgb(78, 161, 239);
  --darkest-blue: rgb(0, 18, 24);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  // background: var(--darkest-blue);
  color: #fff;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  backdrop-filter: blur(10px);
}

.cdk-overlay-pane {
  .cdk-dialog-container {
    outline: none;
  }
}