/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PermanentMarker';
  src: url('/assets/fonts/PermanentMarker-Regular.ttf');
}

body {
  background: rgb(0, 18, 24);
  margin: 0;
}

